/* ================== Color Pallete ================= */
/* light = #EDE4E0 */
/* heavy = #0E5E6F */
/* medium = #3A8891 */

/* ================== Body ================= */
body {
  font-family: Roboto;
  background-color: #ede4e0;
  justify-content: center;
}

/* ================== Header ================= */
.header-box {
  padding: 10px;
  background-color: #0e5e6f;
  justify-content: center;
  display: flex;
  text-align: center;
}

.header-text {
  color: #ede4e0;
  font-size: 18px;
  margin: 0;
  display: inline-block;
}

/* .icon-box {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
} */

.header-icons {
  color: #ede4e0;
  scale: 90%;
  padding-right: 10px;
  padding-left: 10px;
}

.header-icons:hover {
  color: #3a8891;
}

/* ================== Footer ================= */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  display: inline-block;
  font-weight: bold;
  padding-top: 15px;
  color: #ede4e0;
  font-size: 20px;
}

.footer-end {
  height: 60px;
  background-color: #0e5e6f;
  display: block;
}

/* ================== Product Card ================= */
.card {
  margin: 20px;
}

.card-body {
  text-align: center;
}

.delete-checkbox {
  padding: 20px;
}

.product-property {
  margin: 0;
}

.checkbox-container {
  padding: 7px;
  background-color: #0e5e6f;
}

/* ================== Page Title ================= */
.page-title {
  color: #0e5e6f;
  margin: 0;
  padding-top: 20px;
  display: inline-block;
}

/* ================== Buttons ================= */
.btn-box {
  vertical-align: bottom;
}

.menu-buttons {
  background-color: #0e5e6f !important;
  margin: 10px 10px 0 10px !important;
  color: #ede4e0 !important;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1350px) {
  .menu-buttons {
    font-size: 12px !important;
    margin: 5px 5px 0 5px !important;
    padding: 3px 6px !important;
  }
}

.menu-buttons:hover {
  background-color: #ede4e0 !important;
  color: #0e5e6f !important;
  box-shadow: 0px 0px 10px #0e5e6f;
}

.menu-buttons:active {
  background-color: #0e5e6f !important;
  color: #ede4e0 !important;
  box-shadow: none;
  transform: translateY(2px);
}

/* ================== CheckBox ================= */

/* ================== HR ================= */
.rule-box {
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 5px;
}

.rule {
  width: 80%;
  display: inline-block;
  border: 1px solid #0e5e6f;
  box-shadow: 0 0 10px #0e5e6f;
  margin: 0;
}

@media (max-width: 1350px) {
  .rule {
    width: 95%;
  }
}

/* ================== Addproduct form ================= */
.form-default-input {
  width: 300px !important;
  display: inline-block !important;
}

.form-default-input:focus {
  box-shadow: 0px 0px 10px #0e5e6f !important;
}

.form-row {
  text-align: start;
  padding: 15px 0 15px 0;
}

.form-label {
  padding: 0 10px 10px 10px;
  width: 200px !important;
  display: inline-block;
  margin-bottom: 0% !important;
}

form span {
  color: #ce5959;
  padding-left: 10px;
}
